:root {
    --font-family: Verdana, sans-serif;
    --font-size: 18px;
    --line-height: 32px;
    --xs: 475px;
    --sm: 576px;
    --lg: 992px;
    --color-grey: rgb(47, 47, 48);
    --color-black: #141414;
    --color-white: rgb(241, 241, 241);
    --color-footer-bg: #d1eafd;
}

body {
    font-size: var(--font-size);
    font-family: var(--font-family);
    background-color: var(--color-white);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

p {
    max-width: 100%;
    margin-bottom: 1rem;
    margin-top: 0;
}

header {
    padding: .5rem;
    border-bottom: 1px solid var(--color-grey);
    background-color: black;
    color: white;
}

header .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    font-size: 2.5rem;
}

header a {
    color: white;
    text-decoration: none;
}

header nav {
    display: none;
}

nav.open {
    display: block;
    position: absolute;
    background-color: black;
    width: 100%;
    right: 0;
    left: 0;
    top: 81px;
    padding: 0;
    padding-bottom: 4rem;
}

header nav ul {
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.hamburger {
    position: relative;
    padding: 19px 15px;
}

.hamburger span {
    display: block;
    width: 35px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: var(--color-dark);
    border-radius: 3px;
    z-index: 1;
    background-color: white;
    transform-origin: 5px 2px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

header .hamburger span:first-child {
    /*transform-origin: 0% 0%;*/
}

header .hamburger span:nth-child(2) {
    transform-origin: 0% 0%;
}

.checked span {
    opacity: 1;
    transform: rotate(45deg) translate(0px, 0px);
    background: #ff1919;
}

.checked span:nth-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

.checked span:nth-child(2) {
    transform: rotate(-45deg) translate(-10px, 10px);
}

nav.menu.open ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav.menu.open ul li {
    padding: 0;
    margin: 0;
}

nav.menu.open a {
    color: white;
    text-decoration: none;
    font-size: 2.5rem;
    line-height: 3rem;
    padding: 20px 0 20px 30px;
    width: 100%;
    display: block;
}

nav.menu.open a:hover,
nav.menu.open a:active {
    background-color: #92cfff;
}

main {
    margin: 0;
    padding: 1.5rem;
    min-height: calc(100vh - 464px);
}

footer {
    min-height: 300px;
    background-color: var(--color-footer-bg);
    padding: 1rem;
    margin-top: 3rem;
}

.container {
    width: 100%;
    padding: 1rem;
}

footer .container {
    padding: 1.5rem 1rem;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.alignCenter {
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    width: 100%;
    max-width: 100%;
    margin-top: 10px;
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
}

.row .col-6:first-child {
    padding-left: 0px;
}

.col {
    flex: 1 0 0%;
}

.mb-3 {
    margin-bottom: 1.5rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    flex: 0 0 auto;
}

.col-1 {
    width: 8.33333333%;
}

.col-2 {
    width: 16.666666667%;
}

.col-3 {
    width: 25%
}

.col-4 {
    width: 33.333333333%
}

.col-5 {
    width: 41.66666666%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33333333%;
}

.col-8 {
    width: 66.666666667%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.333333333%;
}

.col-11 {
    width: 91.6666666667%;
}

.col-12 {
    width: 100%;
}

.right {
    text-align: right;
    padding-right: 1rem;
}

.offset-3-left {
    margin-left: 25%;
}

@media screen and (min-width: 992px) {
    header .container {
        width: var(--lg);
        margin: 0 auto;
    }
    header .hamburger {
        display: none;
    }
    header nav {
        display: block;
        width: 700px;
    }
    header nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: baseline;
        justify-content: space-around;
    }
    .container {
        width: var(--lg);
        margin: 0 auto;
    }
}